.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 100;
    background-color: white;

    margin-right: 20px;

}

.left-section {
    width: 180px;
    display: flex;
    align-items: center;
}

.hamburguer-menu {
    height: 25px;
    margin-left: 24px;
    margin-right: 15px;
    cursor: pointer;

}

.youtube-logo {
    height: 55px;
    padding-top: 7px;


}

.br-logo {
    margin-left: 169px;
    margin-top: -18px;
    font-size: 10px;
    font-family: Roboto, Arial;
    position: absolute;
}

.middle-section {
    flex: 1;
    margin-left: 270px;
    margin-right: 240px;
    max-width: 700px;
    display: flex;
    align-items: center;
    width: 0;

}

.search-bar {

    flex: 1;
    height: 35px;
    border-radius: 35px;
    padding-left: 18px;
    font-size: 16px;
    border: 1px solid rgba(112, 111, 111, 0.366);
    box-shadow: inset 1px 1px 3px rgb(240, 240, 240);
    background-color: rgba(85, 85, 85, 0.026);
}

.search-bar:active {
    border:3px solid blue;
}


.search-bar::placeholder {
    font-family: Arial;
    font-size: 16px;

}

.search-button {
    height: 44px;
    width: 40px;
    margin-right: -36px;
    margin-top: 6px;
    border: 0px;
    background-color: rgba(255, 0, 0, 0);

}

.search-icon {
    height: 25px;
    margin-left: -105px;
    cursor: pointer;


}

.mic-button {
    height: 30px;
    width: 30px;
    border: 0px;
    background-color: rgba(165, 42, 42, 0);


}

.mic-img {
    width: 30;
    height: 30px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;


}

.right-section {
    width: 160px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}

.upload-icon {
    height: 55px;
    width: 50px;
    top: 1px;
    padding-bottom: 2px;
    cursor: pointer;


}

.notifications-icon {
    padding-top: 4px;
    height: 45px;
    width: 30px;
    margin-right: 20px;
    cursor: pointer;

}

.notifications-icon-container {
    position: relative;
    cursor: pointer;

}

.notifications-count {
    font-family: Roboto, arial;
    font-size: 11px;
    padding: 0px 4px;
    position: absolute;
    top: 2vh;
    right: 11.5vh;
    background-color: red;
    border-radius: 40px;
    color: white;

}

.user-picture {
    height: 32px;
    border-radius: 40px;
    cursor: pointer;


}