.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    color: rgb(0, 0, 0);
    width: 27.5vh;

    display: flex;
    flex-direction: column;
    justify-content: baseline;
    z-index: 101;
    padding-top: 1vh;
    padding-left: 2.5vh;

}




.sidebar-link {
    height: 22px;
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap;
}

.sidebar-link:hover {

    transform: translate(-10px);
}



.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
}


.sidebar-link:hover {
    box-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000, 0 0 50px #ff0000, 0 0 200px #ff0000;
    transition: 0.5s;
    background-color: rgb(157, 156, 156);
}




.sidebar-img {
    display: flex;
    margin-right: 20px;
    height: 24px;
}

.standard-column {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 10px;
    margin-left: -0.5vh;
}

.you-column {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 10px 0px;
    height: 100vh;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 8px;
    margin-left: -0.5vh;
    padding-bottom: 8vh;
}

.subscribe-column {
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 10px 0px;
    height: 90vh;
    overflow-y: hidden;
    margin-left: -0.5vh;
    margin-top: .5vh;
    font-size: 10px;
}

.sidebar-profile-picture {
    width: 23px;
    border-radius: 50px;
    display: flex;

}

.sidebar-video-author {
    margin-bottom: 4px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin-bottom: 4px;
    display: flex;
    margin-left: 3vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ???????? */
.sidebar-channel-picture {
    color: red;

}

.sidebar-channel,
.sidebar-subscribe {
    margin: 1.6vh 0.8vh;
    font-size: 17px;
    font-weight: 1000;
}

.sidebar-you {
    margin-left: 1vh;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 1vh;
}

.sidebar-subscribe {
    margin: 1.5vh 1vh 0vh;
}

.sidebar-subscribe-text {
    font-size: 15px;
}