@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap';

* {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: transparent;

}

html {
    background: linear-gradient(black, rgb(26, 1, 163)) fixed;
    height: 100vh;
    text-decoration: none;
}

body {
    Margin: 7vh;
    height: 100vh;

    display: grid;
    grid-template-areas:
        "header header"
        "aside main "
        "footer footer";

    grid-template-rows: 0.2fr 6fr 0.4fr;
    grid-template-columns: 0.25fr 1.1fr;

}

header {
    grid-area: header;
    text-align: center;
    justify-content: center;


}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    position: relative;
    left: 0.05fr;
    padding: 2vh;


}

footer {
    grid-area: footer;
    text-align: center;

}


.conteiner {
    padding-bottom: 0.2vh;
    margin: none;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    
}

h1{
    margin-bottom: 0vh;
    letter-spacing: 0.5vh;
}
h4{
    letter-spacing: 0.5vh;
    word-spacing: 4vh;
    
}