/* html {
    background: linear-gradient(black, rgba(255, 0, 0)) fixed;
} */

.title{
    background-image: radial-gradient(red, rgb(221, 221, 8));
    font-weight: bold;
    font-family: Arial;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 0;
}

.title-stats{
    font-family: Arial;
    margin-top: 0;
    color:grey;
    font-size: 14px;
}
.author{
    font-family: Arial;
    color:grey;
    font-size: 14px;
    color:grey;
}
.te{
    text-align: center;
    line-height: 20px;
}
.ta:hover{
    text-decoration: underline;
    cursor: pointer;
}